{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ product.price }}</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>
        </div>
        <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="input-group">
                    <input class="form-control" type="hidden" name="quantity" value="1" min="1" max="1"
                        data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" />
                </div>
                <div class="col-12 mb-3">
                    <input type="submit" class="btn btn-default btn-lg text-uppercase pl-5 pr-5" value="Add to Bag" />
                </div>

                <!-- Keep Shopping Icon -->
                <div class="col-12">
                    <a class="keep-shopping" href="{% url 'products' %}">Keep Shopping</a>
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}" />
            </div>
        </form>
    </div>
</div>

{% endblock %}